/* Style générale */
body {
    font-family: Arial;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* En tête */
header {
    background-color: rgb(16, 16, 240);
    color: white;
    padding: 10px;

}

/* Menu de navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Contenu principal */
main {
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}

/* section */
section {
    margin-bottom: 25px;
}

/* Pied de page */
footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Conteneur principal */
.container {
    width: 80%;
    margin: auto;
}